### Titulo

#### explicacion despues de aplicar los primeros dos pasos del metodo crisp, entender el modelo airbnb, navegr por pagna y ser usuario, se analizo la data disponible y se plantearon las siguientes preguntas

1. que influencia tiene la ubicacion en la ocupacion, es mejor indicador el codigo postal o regiones creados en base a clustering
2. que influencia tiene el host y el tipo de lugar
3. que influencia las reviews

en general encontrar las variables criticas para aumentar la ocupacion de una propiedad agrupadas en ubicación, host, place, y reviews

In [167]:
import pandas as pd
import numpy as np
pd.set_option('max_columns', None)

In [168]:
# Open calendar data
boston_calendar = pd.read_csv("boston_airbnb_data/calendar.csv")
seattle_calendar = pd.read_csv("seattle_airbnb_data/calendar.csv")

In [169]:
# Open listings data
boston_listings = pd.read_csv("boston_airbnb_data/listings.csv")
seattle_listings = pd.read_csv("seattle_airbnb_data/listings.csv")

In [170]:
# Concatenate the data calendar from Boston and Seattle
df_calendar = pd.concat([boston_calendar,seattle_calendar ], axis=0,ignore_index=True)
# Drop price column because we don't need it for our analysis
df_calendar = df_calendar.drop('price', axis=1)

In [171]:
# Get one column for each variable on for t(true) and one for f(false)
df_calendar = pd.concat([df_calendar.drop('available', axis=1), pd.get_dummies(df_calendar['available'], prefix='available', prefix_sep='_')], axis=1)

In [172]:
# Group by each list id by adding the number of times each list_id is available and unavailable
df_occupation = df_calendar.groupby("listing_id").sum()
# Add a column with the occupancy percentage, which is the number of days occupied divided by the total number of days registered
df_occupation["occupation_percentage"] = df_occupation["available_f"]*100/(df_occupation["available_f"]+df_occupation["available_t"])
# Drop columns will no longer be used
df_occupation = df_occupation.drop(["available_f","available_t"], axis=1)

In [173]:
# Before concatenating listings dataframes, we need to remove the columns that have boston and not seattle
boston_listings = boston_listings.drop( ['access', 'interaction', 'house_rules'], axis=1)
# Concatenate the data listings from Boston and Seattle
df_listings = pd.concat([boston_listings, seattle_listings], axis=0)

In [242]:
# Create a consolidate dataframe with all the airbnb data including the ocupattion rate that wass alcasdflklasdf
df = pd.merge(df_listings, df_occupation,left_on="id",right_on="listing_id", how="inner")

In [243]:
# en base a la exploracion data listin realzada en el archivo as, y a las preguntas realizaddas
# como primera iteracion se elimnan las columnas con mas de 20% valores perdidos y se conservanm las siguientes columas que
# tiene ralacion con nuestras preguntas y no tiene mas de 20% de valores faltantes

In [244]:
columns_of_interest = ['experiences_offered','host_location','host_response_time','host_response_rate',
                       'host_acceptance_rate','host_is_superhost','host_listings_count','host_total_listings_count',
                       'host_verifications','host_has_profile_pic','host_identity_verified','zipcode','city',
                       'latitude','longitude','property_type','room_type','accommodates','bathrooms','bedrooms','beds',
                       'bed_type','amenities','price','guests_included','extra_people','minimum_nights','maximum_nights',
                       'number_of_reviews','review_scores_rating','review_scores_cleanliness','review_scores_checkin',
                       'review_scores_communication','review_scores_location','review_scores_value','requires_license',
                       'instant_bookable','cancellation_policy','require_guest_profile_picture',
                       'require_guest_phone_verification','calculated_host_listings_count','reviews_per_month',
                       'occupation_percentage']

df = df[columns_of_interest]

In [ ]:
# Use the describe function to understand and classify them to apply different strategies based on the information they contain
df.describe(include="all").transpose()

In [245]:
# Columns with unique values are removed because they do not add anything to the analysis
unique_value_columns = ["experiences_offered","requires_license"]
df = df.drop(unique_value_columns, axis=1)

In [ ]:
'''
Columns with only true and false values and columns with few different values can be easily processed 
with the get_dummies function because it will not generate an exaggerated number of new columns
'''

boolean_value_columns = ["host_is_superhost","host_has_profile_pic","host_identity_verified","instant_bookable",
                         "require_guest_profile_picture","require_guest_phone_verification"]

categoricalfewvalues_columns = ["host_response_time","room_type","bed_type","cancellation_policy"]

boolean_fewvalues_columns = categoricalfewvalues_columns + categoricalmanyvalues_columns

for var in  boolean_fewvalues_columns:
    df = pd.concat([df.drop(var, axis=1), pd.get_dummies(df[var], prefix=var, prefix_sep='_', drop_first=True)], axis=1)

In [196]:
# columnas que estan como categoricas pero deberian de ser continuas
categoricalbutwrong_columns = ["host_response_rate","host_acceptance_rate","price","extra_people"]
# modificacion columnas a continuas
df['host_response_rate'] = df['host_response_rate'].str.replace('%', '', regex=False).astype(float)
df['host_acceptance_rate'] = df['host_acceptance_rate'].str.replace('%', '', regex=False).astype(float)
# modifica columna price
df['price'] = df['price'].str.replace('$', '', regex=False)
df['price'] = df['price'].str.replace(',', '', regex=False)
df['price'] = df['price'].astype(float)
# modifica columna extra people
df['extra_people'] = df['extra_people'].str.replace('$', '', regex=False)
df['extra_people'] = df['extra_people'].str.replace(',', '', regex=False)
df['extra_people'] = df['extra_people'].astype(float)

In [ ]:
# columnas complejas por la cantidad de diferentes valores que continen, aplicar dummi variables generaria muchas columnas
categoricalmanyvalues_columns = ["host_location","host_verifications","zipcode","city","property_type",
                                 "amenities"]

In [ ]:
primero en city los valores que no sean boston y seattle pasarlos a nulos, despues host location

In [246]:
#Help function to mantain in city column just seattle or boston values, other value are change to nan
def check_city(value):
    if value == "Seattle" or value == "Boston":
        return value
    else: 
        return np.nan
    
# Apply the help function    
df['city'] = df['city'].apply(check_city)
# Drop rows with nan values in city column because the analisis is just for airbnbs in those citys
#df = df.dropna(subset=['city'])

In [250]:
#Funcuon integra clean host y aparte checa si esta in city
def host_isin_city(host_location,city):
    try:
        clean_host_location = host_location.split(",")[0]
        if clean_host_location == city:
            return True
        else:
            return False
    except AttributeError:
        return np.nan

df['host_in_city'] = df.apply(lambda x: host_isin_city(x.host_location, x.city), axis=1)

In [ ]:
#creta dummies for city, drop city

In [ ]:
# create dummies for host in city, drop host in city

In [254]:
pre_df = df[["city","host_in_city"]]

In [255]:
pre_df

         city host_in_city
0      Boston         True
1      Boston         True
2      Boston         True
3      Boston         True
4      Boston         True
...       ...          ...
7398  Seattle        False
7399  Seattle         True
7400  Seattle        False
7401  Seattle        False
7402  Seattle         True

[7403 rows x 2 columns]