In [1]:
import pandas as pd
import numpy as np

In [2]:
# Open listings data
boston_listings = pd.read_csv("boston_airbnb_data/listings.csv")
seattle_listings = pd.read_csv("seattle_airbnb_data/listings.csv")

In [3]:
# Quick explore of number of rows and columns of calendar data
print("Boston calendar data have {} columns and {} rows and Seattle calendar data have {} columns and {} rows".format(str(boston_listings.shape[1]),str(boston_listings.shape[0]),str(seattle_listings.shape[1]),str(seattle_listings.shape[0])))

Boston calendar data have 95 columns and 3585 rows and Seattle calendar data have 92 columns and 3818 rows

In [16]:
# Columns and type for boston and seattle listings
boston_col_type = boston_listings.dtypes.to_dict()
seattle_col_type = seattle_listings.dtypes.to_dict()

In [17]:
# Compares columns and columns type to see if they are equivalent or there are differences between them

nonshared_columns = []
nonshared_types = {}

for boston_col, boston_type in boston_col_type.items():
    found_indicator = 0
    for seattle_col, seattle_type in seattle_col_type.items():
        if boston_col == seattle_col and boston_type == seattle_type:
            found_indicator = 1
            break
        elif boston_col == seattle_col and boston_type != seattle_type:
            nonshared_types[boston_col] = {"in_df_boston":boston_type,"in_df_seattle":seattle_type}
            found_indicator = 1
            break
    if found_indicator == 0:
        nonshared_columns.append(boston_col)

In [18]:
# Show columns that exist in boston df but not in seattle df
nonshared_columns

['access', 'interaction', 'house_rules']

In [19]:
# Show columns that exist in both df but they don't share dtype
nonshared_types

{'host_listings_count': {'in_df_boston': dtype('int64'),
  'in_df_seattle': dtype('float64')},
 'host_total_listings_count': {'in_df_boston': dtype('int64'),
  'in_df_seattle': dtype('float64')},
 'neighbourhood_group_cleansed': {'in_df_boston': dtype('float64'),
  'in_df_seattle': dtype('O')},
 'has_availability': {'in_df_boston': dtype('float64'),
  'in_df_seattle': dtype('O')},
 'jurisdiction_names': {'in_df_boston': dtype('float64'),
  'in_df_seattle': dtype('O')}}

In [25]:
boston_listings["neighbourhood_group_cleansed"].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: neighbourhood_group_cleansed, dtype: float64

In [23]:
seattle_listings["neighbourhood_group_cleansed"]

0                Queen Anne
1                Queen Anne
2                Queen Anne
3                Queen Anne
4                Queen Anne
               ...
3813    Other neighborhoods
3814           Capitol Hill
3815         Rainier Valley
3816           Capitol Hill
3817             Queen Anne
Name: neighbourhood_group_cleansed, Length: 3818, dtype: object